@model IEnumerable<CodingCraft.Ex02.Models.GrupoProdutoTag>


<div class="form-inline">
    @Html.ActionLink("Criar novo", "Criar", null, new {@class = "btn btn-primary"})
</div>

<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GrupoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioCadastro)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrupoProduto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCadastro)
            </td>

            <td>
                @Html.ActionLink("Excluir", "Excluir", new {id = item.GrupoProdutoTagId})
            </td>
        </tr>
    }
</table>