@model CodingCraft.Ex02.Models.Produto

<div class="form-group">
    @Html.LabelFor(model => model.Nome, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Nome, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Nome, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Tamanho, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Tamanho, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Tamanho, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Cor, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Cor, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Cor, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Estoque, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Estoque, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Estoque, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Valor, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Valor, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Valor, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.GrupoProdutoId, "GrupoProdutoId", new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.DropDownList("GrupoProdutoId", null, new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.GrupoProdutoId, "", new {@class = "text-danger"})
    </div>
</div>