@model VipControle.Domain.Models.Atendente

@{
    ViewBag.Title = "Atendentes";
}

<h2>Detalhes do Atendente</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p class="col-lg-offset-1">
    @Html.ActionLink("Editar", "Edit", new {id = Model.AtendenteId}, new {@class = "btn btn-warning"})
    @Html.ActionLink("Voltar", "Index", null, new {@class = "btn btn-default"})
</p>