@model CodingCraft.Ex02.Models.Tag

<h2>Edição de Tags</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="ink-form">
        <br/>
        <hr/>

        @Html.HiddenFor(model => model.TagId)
        @Html.Partial("_CriarOuEditarInk", Model)

        <input type="submit" value="Salvar" class="ink-button green"/>
    </div>
}

<br/>
<div>
    @Html.ActionLink("Voltar", "Index")
</div>