@model CodingCraft.Ex01.Models.ItemCompra

<tr>
    @using (Html.BeginCollectionItem("ItensCompra"))
    {
        <td>
            @Html.Label(Model.Produto.Descricao, new {@class = "control-label"})
            @Html.HiddenFor(model => model.ItemCompraId)
            @Html.HiddenFor(model => model.Produto.Descricao)
            @Html.HiddenFor(model => model.ProdutoId)
        </td>

        <td>@Html.TextBoxFor(model => model.Quantidade, new {@class = "form-control", type = "text", @readonly = "true"}) </td>
        <td>@Html.TextBoxFor(model => model.Valor, new {@class = "form-control", type = "text", @readonly = "true"}) </td>
        <td>@Html.TextBoxFor(model => model.ValorTotal, new {@class = "form-control", type = "text", @readonly = "true" }) </td>
        <td><a class="btn btn-danger" onclick="$(this).parent().parent().remove();">Excluir</a></td>
    }
</tr>