@model CodingCraft.Ex02.Models.GrupoProduto

<h2>Exclusão de Grupo</h2>

<h3>Deseja realmente exlcuir o registro abaixo ?</h3>

<div>
    <br/>
    <hr/>

    <dl>
        <div class="grid-x grid-margin-x">
            <div class="small-2 cell">
                <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
            </div>
            <div class="auto cell align-left">
                <dd>@Html.DisplayFor(model => model.Nome)</dd>
            </div>
        </div>

        <div class="grid-x grid-margin-x">
            <div class="small-2 cell">
                <dt>@Html.DisplayNameFor(model => model.CategoriaProduto)</dt>
            </div>
            <div class="auto cell align-left">
                <dd>@Html.DisplayFor(model => model.CategoriaProduto.Nome)</dd>
            </div>
        </div>

        <div class="grid-x grid-margin-x">
            <div class="small-2 cell">
                <dt>@Html.DisplayNameFor(model => model.DataCadastro)</dt>
            </div>
            <div class="auto cell align-left">
                <dd>@Html.DisplayFor(model => model.DataCadastro)</dd>
            </div>
        </div>

        <div class="grid-x grid-margin-x">
            <div class="small-2 cell">
                <dt>@Html.DisplayNameFor(model => model.UsuarioCadastro)</dt>
            </div>
            <div class="auto cell align-left">
                <dd>@Html.DisplayFor(model => model.UsuarioCadastro)</dd>
            </div>
        </div>

        <div class="grid-x grid-margin-x">
            <div class="small-2 cell">
                <dt>@Html.DisplayNameFor(model => model.DataEdicao)</dt>
            </div>
            <div class="auto cell align-left">
                <dd>@Html.DisplayFor(model => model.DataEdicao)</dd>
            </div>
        </div>

        <div class="grid-x grid-margin-x">
            <div class="small-2 cell">
                <dt>@Html.DisplayNameFor(model => model.UsuarioEdicao)</dt>
            </div>
            <div class="auto cell align-left">
                <dd>@Html.DisplayFor(model => model.UsuarioEdicao)</dd>
            </div>
        </div>
    </dl>
    @using (Html.BeginForm())
    {
        <div>
            <input type="submit" value="Excluir" class="button alert"/> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>