@model IEnumerable<CodingCraft.Ex02.Models.GrupoProduto>

<div class="row">
    @Html.ActionLink("Criar novo", "Criar", null, new {@class = "button"})
</div>

<br/>

<table class="hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrupoProdutoTags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEdicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioEdicao)
        </th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaProduto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrupoProdutoTags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEdicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioEdicao)
            </td>

            <td>
                @Html.ActionLink("Editar", "Editar", new {id = item.GrupoProdutoId}) |
                @Html.ActionLink("Detalhes", "Detalhes", new {id = item.GrupoProdutoId}) |
                @Html.ActionLink("Excluir", "Excluir", new {id = item.GrupoProdutoId})
            </td>
        </tr>
    }
    </tbody>
</table>