@using VipControle.MVC.Core.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VIP Soluções</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("VipControle", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    if (User.Identity.IsEmailConfirmation())
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
                                Cadastros Auxiliares
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Atendentes", "Index", "Atendente")</li>
                                <li>@Html.ActionLink("Tipos de Atendimento", "Index", "TipoAtendimento")</li>
                            </ul>
                        </li>

                        <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
                        <li>@Html.ActionLink("Atendimentos", "Index", "Atendimento")</li>

                    }
                }
            </ul>


            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    
    
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - VIP Soluções Automação Comercial</p>
    </footer>
</div>

@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>