@model CodingCraftEx07.Mvc.Models.Cliente

@{
    ViewBag.Title = "Clientes";
}

<br/>
<h2>Detalhes do Cliente</h2>
<hr/>
<br/>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {id = Model.ClienteId}, new {@class = "btn btn-warning"})
    @Html.ActionLink("Voltar", "Index", null, new {@class = "btn btn-secondary"})
</p>