@model IEnumerable<CodingCraftEx07.Mvc.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>
<br/>

<p>
    @Html.ActionLink("Novo Cliente", "Create", null, new {@class = "btn btn-primary"})
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id = item.ClienteId}, new {@class = "btn btn-sm btn-warning"})
                @Html.ActionLink("Detalhes", "Details", new {id = item.ClienteId}, new {@class = "btn btn-sm btn-info"})
                @Html.ActionLink("Excluir", "Delete", new {id = item.ClienteId}, new {@class = "btn btn-sm btn-danger"})
            </td>
        </tr>
    }

</table>