@model CodingCraft.Ex01.Models.Categoria

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da Categoria</h2>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEdicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEdicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioEdicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioEdicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CategoriaId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
