@model IEnumerable<VipControle.Domain.Models.TipoAtendimento>

@{
    ViewBag.Title = "Tipos de Atendimento";
}

<h2>Tipos de Atendimento</h2>

<p>
    @Html.ActionLink("Novo Tipo", "Create", null, new {@class = "btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            <a href="@Url.Action("Edit", new {id = item.TipoAtendimentoId})" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            
            <a href="@Url.Action("Details", new {id = item.TipoAtendimentoId})" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-list"></span>
            </a>
            
            <a href="@Url.Action("Delete", new {id = item.TipoAtendimentoId})" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </td>
    </tr>
}

</table>
