@model VipControle.Domain.Models.Atendimento

@{
    ViewBag.Title = "Atendimento";
}

<h2>Edição de Atendimento</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>

        @Html.ValidationSummary(false, "", new {@class = "text-danger"})

        @Html.HiddenFor(model => model.AtendimentoId)

        <div class="form-group">
            @Html.Label("Cliente", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("ClienteId", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ClienteId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Atendente", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("AtendenteId", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.AtendenteId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tipo Atendimento", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("TipoAtendimentoId", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.TipoAtendimentoId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Solicitante, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Solicitante, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Solicitante, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Status, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prioridade, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Prioridade, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Prioridade, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescricaoAtendimento, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DescricaoAtendimento, new {@class = "form-control", rows = "6"})
                @Html.ValidationMessageFor(model => model.DescricaoAtendimento, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescricaoConclusao, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DescricaoConclusao, new {@class = "form-control", rows = "6"})
                @Html.ValidationMessageFor(model => model.DescricaoConclusao, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacao, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Observacao, new {@class = "form-control", rows = "6"})
                @Html.ValidationMessageFor(model => model.Observacao, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataPrevisao, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataPrevisao, new {htmlAttributes = new {id = "dtPrevisao", @readonly = "readonly", @class = "form-control"}})
                @Html.ValidationMessageFor(model => model.DataPrevisao, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataConclusao, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataConclusao, new {htmlAttributes = new {id = "dtConclusao", @readonly = "readonly", @class = "form-control"}})
                @Html.ValidationMessageFor(model => model.DataConclusao, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success"/>
                @Html.ActionLink("Voltar", "Index", null, new {@class = "btn btn-default"})
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#dtPrevisao').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            autoclose: true,
            todayHighlight: true
        });

        $('#dtConclusao').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            autoclose: true,
            todayHighlight: true
        });
    </script>
}